Weather_AI_Anget/Tool_Get_Current_Weather.json
{
  "name": "Tool Get Current Weather",
  "nodes": [
    {
      "parameters": {},
      "id": "2cda5534-fc79-46c1-896d-5aea97dc103f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        80,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc85f702-4e73-4d5a-8b32-bf4e40e27784",
              "name": "city",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1f0543a-2e4f-4e86-8134-0a4d2fff5b70",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        460
      ]
    },
    {
      "parameters": {
        "format": "imperial",
        "cityName": "={{ $json.city }}"
      },
      "id": "f2844408-fa66-4064-9ad8-e9404dd11ffa",
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        500,
        460
      ],
      "credentials": {
        "openWeatherMapApi": {
          "id": "sgnMZsco2udnTvzp",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=Convet the 'content' into simple english in a friendly tone.Include a joke. Use emojis to describe the weather",
              "role": "system"
            },
            {
              "content": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e172c1e7-a0be-4015-8def-103bf4eabef9",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1060,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "d5QuQIJprInGK4X2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef8bfc31-086b-476e-bdce-9dd8ed0090a1",
              "name": "response",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b22ccdb5-5fe2-40fb-ba45-671454c5e0a3",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        460
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=Put the parameters below into a single \"query\" field. Ensure it is a string. \n\nweather_description:{{ $json.weather[0].description }}\ntemp: {{ $json.main.temp }}\nhumidity: {{ $json.main.humidity }}\nwind_speed: {{ $json.wind.speed }}\ncity: {{ $('Edit Fields').item.json.city }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01b10156-9683-46b5-8eae-976199f674d0",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        720,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "d5QuQIJprInGK4X2",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c281ad6d-ad66-432d-a62a-d2c09838f132",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae372c62e73fd2c5fcdcce7ed3303ce4ce0ece17ce506d703ef7d974ff95018f"
  },
  "id": "E7xzSj7NGLdLU0WP",
  "tags": [
    {
      "createdAt": "2024-09-25T15:20:14.154Z",
      "updatedAt": "2024-09-25T15:20:14.154Z",
      "id": "aztqoCbHQtYjodZU",
      "name": "tools"
    }
  ]
}